.top-content {
  width: -webkit-fill-available;
  padding: 39px 0px 0px 113px;
}

.disease-search {
  width: 413px;
  height: 37px;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid rgba(187, 187, 187, 1);
  color: rgba(138, 138, 138, 1);
  font-size: 16px;
  text-align: left;
  padding: 0px 15px;
}

.delete-disease {
  float: right;
  width: 130px;
  height: 37px;
  line-height: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  border: 1px solid #F44336;
}

.show-disease {
  float: right;
  width: 110px;
  height: 37px;
  line-height: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  border: 1px solid rgba(26, 115, 232, 1);
}

.new-disease {
  float: right;
  width: 110px;
  height: 37px;
  line-height: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  border: 1px solid rgba(26, 115, 232, 1);
  margin: 0px 100px 0px 10px;
}

.bot-content {
  padding: 15px 100px;
  width: -webkit-fill-available;
}

.mytitle {
  /*font-family: auto;*/
  font-size: 20px;
  /*font-style: oblique;*/
  font-weight: bold;
}

.dropdown {
  width: 100%;
  margin-bottom: 10px;
}

.option {
  padding: 10px 0px 20px 13px;
}

.option input {
  width: 70px;
  height: 35px;
  font-size: 16px;
  margin-right: 10px;
  padding-left: 10px;
}

/*                  TABLE                  */
.disease-table {
  width: -webkit-fill-available;
  border-collapse: collapse;
}

.disease-table thead {
  text-align: left;
}

.disease-table thead:after {
  content:"@";
  display:block;
  line-height:17px;
  text-indent:-99999px;
}

.disease-table thead tr th {
  width: 69%;
  padding: 0px 0px 0px 13px;
}

.disease-table tbody {
  text-align: left;
  border-top: 2px solid rgba(187, 187, 187, 1);
}

.disease-table tbody tr {
  border-bottom: 1px solid rgba(187, 187, 187, 1);
}

.disease-table tbody tr td {
  padding: 20px 0px 20px 13px;
}

.modal.show .modal-dialog {
    float: none;
}
